.todo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 7px;
    box-sizing: border-box;
}

.todo-footer span {
    margin-left: 10px;
    user-select: none;
}

.todo-footer button {
    height: 25px;
    padding: 0 8px;
    background-color: #e45b46;
    color: #fff;
    outline: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
