.user-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.user-list .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #dedede;
}

.user-list .user img {
    width: 70px;
    height: 70px;
}

.user-list .user a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.user a span {
    font-size: 14px;
    color: #333;
}
